#menu {
  margin: 5px;
  padding: 10px 15px;
}

#about-text {
  margin-left: 80px;
  margin-right: 600px;
  margin-top: 40px;
  line-height: 1.2;
  font-size: 17px;
}

#latest-songs {
  position: absolute;
  top:68%;
  left: 60%;
}

#img-song {
  position: absolute;
  top:76%;
  left: 60%;
}

#img-song2 {
  position: absolute;
  top:76%;
  right:15%;
}
