* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Muli', sans-serif;
}

body {
  background:#eeeeee;
}

/* #navbar {
  background: #1E2749;
  color: white;
  display: flex;
	flex-direction: row;
	justify-content: flex-end;
  padding-right: 50px;
  height: 50px; */
}

#img {
  width: 100%;

}

#button{
	margin-top: 24px;
	padding-top:12px;
	padding-bottom:12px;
	background-color: #104F55;
	color:white;
	font-size: 18px;
	font-weight: 700;
	text-align: center;
}

#lyrics {
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 30px;
  line-height: 1.4;
  font-size: 17px;
}

#footer {
  display:flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
  height: 50px;
  background: #1E2749;
  color: white;

}
