nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: #273469;
}
h4 {
  line-height: 0px;
  font-size: 4;
}
input {
  margin: 5px;
  padding: 5px;
  width: 25%;
  border-radius: 3px;
  margin: 5px 10px;
}
#menu {
  margin: 5px;
  padding: 3px 20px;
  background-color: white;
}

.Content{
  margin: 5px;
  padding: 5px 20px;
  display: flex;
}

img{
  width: 150px;
  height: 150px;
}

.Picture {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.pic-row {
  display: flex;
  flex-direction: row;
  justify-content: center;

}
.pic-cover {
  height: 200px;
  width: 200px;
  margin: 5px;
}

body{
  justify-content: center;
}

.Titles{
  text-align: center;
  margin: 0px 50px 0px 50px;
}
